body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.calculator {
	display: grid;
	grid-template-columns: 80px 80px 80px;
}
.calculator-container button {
  outline: none; 
  padding: 0; 
  border: 1px solid white; 
  height: 80px; 
  width: 80px; 
  background-color: #12daae; 
  color: #044953; 
  font-size: 40px; 
  font-weight: bold;
}
.calculator-container button:active {
  background-color: rgb(137, 193, 255);
}
